@import '../_vars.scss';

.about {
  background-color: $highlight-c;
  background: url('./../images/bg_about_us.png') no-repeat top left / cover;
  padding: 80px 0 87px;

  &__content-wrapper {
    display: flex;
    position: relative;
  }

  &__text {
    font-family: $fn-sub;
    font-size: $fs-smaller;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: $secondary-c;

    &:nth-child(2) {
      padding-bottom: 15px;
    }
  }

  &__content {
    margin-right: 649px;
  }

  &__studio-photo {
    width: 100%;
    height: 100%;

    &-wrap {
      width: 649px;
      height: 426px;
      position: absolute;
      top: -92px;
      right: 0;
    }
  }
}
