@import '../_vars.scss';

.address {
  background-color: darken($color: $button-c, $amount: 4);
  display: flex;
  justify-content: space-between;

  &__info {
    padding: 30px 90px 30px 90px;
  }

  &__block-wrapper {
    padding-bottom: 10px;
  }

  &__header {
    font-family: $fn-main;
    font-weight: 900;
    font-size: ($fs-medium + 1px);
    color: $secondary-c;
    text-transform: uppercase;
  }

  &__content {
    font-family: $fn-sub;
    font-size: $fs-smaller;
    color: $secondary-c;
    line-height: 18px;
    text-decoration: none;
  }
}
