@import '../_vars.scss';
@import './menu.scss';

.footer {
  background-color: $secondary-c;

  &__menu {
    border-top: 1px solid $highlight-c;
    border-bottom: 1px solid $highlight-c;
    padding: 20px 0;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__link {
    color: $primary-c;
    font-family: $fn-sub;
    font-size: $fs-smaller;
    letter-spacing: 0.01em;
    text-decoration: none;
    transition: $duration;

    &:hover {
      text-decoration: none;
      color: $attantion-c;
    }
  }

  &__copyright {
    display: flex;
    justify-content: space-between;
    font-family: $fn-sub;
    font-size: $fs-extra-small;
    line-height: 15px;
    letter-spacing: 0.01em;
    color: $highlight-c;
    padding: 17px 0 25px;
  }

  &__item {
    position: relative;
    margin: 0 7px;
  }

  &__item:not(:last-child)::after {
    content: '|';
    position: absolute;
    top: 0px;
    right: -7px;
  }

  &__phone,
  &__email {
    text-decoration: none;
    color: $highlight-c;
  }

  &__company-contacts {
    display: flex;
  }
}
