@import '../_vars.scss';
@import '../_mixins.scss';

.form-contacts {
  display: flex;
  flex-direction: column;
  width: 540px;
  margin: 0 auto;
  padding: 20px 0 80px;

  &__title {
    font-family: $fn-main;
    font-weight: 900;
    font-size: $fs-large;
    color: $primary-c;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
  }

  &__field {
    font-family: $fn-sub;
    font-size: $fs-smaller;
    letter-spacing: 0.01em;
    color: $primary-c;
    padding-bottom: 6px;
  }

  &__placeholder {
    @include placeholder;

    background: transparent;
    border: none;
    border-bottom: 1px solid $highlight-c;
    margin-bottom: 27px;
    padding-left: 15px;
    color: $primary-c;

    &--select {
      color: $highlight-c;
    }
  }

  &__select-option {
    background: $secondary-c;
    color: $primary-c;

    &:hover {
      color: $attantion-c;
    }
  }

  &__upload-photos {
    display: flex;
    justify-content: space-around;
    padding-bottom: 40px;
  }

  &__submit {
    display: inline-block;
    width: 180px;
    box-sizing: border-box;
    font-family: $fn-sub, serif;
    font-size: $fs-small;
    font-weight: 600;
    text-transform: uppercase;
    color: $button-c;
    text-decoration: none;
    letter-spacing: 0.01em;
    background: transparent;
    border: 2px solid $button-c;
    padding: 15px 45px 13px 22px;
    transform: translateX(2px);
    position: relative;
    display: inline-block;
    transition: $duration;
    margin: 0 auto;
    cursor: pointer;

    &:hover {
      text-decoration: none;
      border: 2px solid $attantion-c;
      color: $attantion-c;

      &::before,
      &::after {
        background: $attantion-c;
      }
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 16%;
      width: 11px;
      height: 2px;
      background: $button-c;
      transform: translateY(-50%);
      transition: $duration;
    }

    &::after {
      transform: rotate(90deg);
      top: 47%;
    }
  }

  &__custom-upload-file {
    display: flex;
    justify-content: space-around;
    width: 105px;
    position: relative;

    & .form-contacts__label {
      cursor: pointer;
      font-family: $fn-sub;
      font-size: $fs-smaller;
      color: $primary-c;
      letter-spacing: 0.01em;
    }
  }

  &__upload-file {
    display: none;
  }
}
