@import '../_vars.scss';

.main-page {
  background: $secondary-c url('../../images/main_bg.jpg') no-repeat center center / cover;
  position: relative;
  padding-top: 37px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(126deg, rgba(29,28,33,0.7) 50%, rgba(29,28,33,0.7) 50%, rgba(29,28,33,0) 50%);
    z-index: 2;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(29, 28, 33, 0.88);
    z-index: 1;
  }

  & > .container {
    position: relative;
    z-index: 3;
  }

  &__content {
    position: relative;
    text-align: center;
    padding-bottom: 105px;
  }

  &__logo {
    padding-top: 58px;
    display: inline-block;
    width: 39%;
    padding-bottom: 61px;
  }

  &__title {
    font-family: $fn-main, serif;
    font-size: $fs-medium;
    font-weight: 600;
    color: $light-c;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 0.02em;
  }
}
