@font-face {
  font-family: "PlayfairDisplaySC-Regular";
  src: url("../fonts/sourcesansprolight.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesansprolight.woff") format("woff"), url("../fonts/sourcesansprolight.ttf") format("truetype");
}

@font-face {
  font-family: 'playfair_display';
  src: url('../fonts/playfairdisplaysc-black.eot');
  src: url('../fonts/playfairdisplaysc-black.eot?#iefix') format('embedded-opentype'),
       url('../fonts/playfairdisplaysc-black.woff2') format('woff2'),
       url('../fonts/playfairdisplaysc-black.woff') format('woff'),
       url("../fonts/playfairdisplaysc-black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("../fonts/sourcesanspro.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro.woff") format("woff"), url("../fonts/sourcesanspro.ttf") format("truetype");
}

@font-face {
  font-family: "SourceSansPro Bold";
  src: url("../fonts/sourcesansprobold.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesansprobold.woff") format("woff"), url("../fonts/sourcesansprobold.ttf") format("truetype");
}

@font-face {
  font-family: "Lucida Grande";
  src: url("../fonts/lucidagranderegular.eot?#iefix") format("embedded-opentype"), url("../fonts/lucidagranderegular.woff") format("woff"), url("../fonts/lucidagranderegular.ttf") format("truetype");
}
