@import 'vars';
@import './components/main-page.scss';
@import './components/menu.scss';
@import './components/logo.scss';
@import './components/artists.scss';
@import './components/awards.scss';
@import './components/about.scss';
@import './components/featured-work.scss';
@import './components/collective-work.scss';
@import './components/form-contacts.scss';
@import './components/address.scss';
@import './components/footer.scss';
@import './_other-style.scss';

@media screen and (max-width: $extra-large-bp) {
  .custom-container {
    width: 80%;
    margin: 0 auto;
  }
  .artists {
    &__wrapper {
      flex-wrap: wrap;
    }
  }
  .main-page {
    &__image {
      width: 100%;
    }
  }

  .artists {
    &__wrapper {
      justify-content: space-around;
    }
  }

  .featured-work {
    &__grid {
      flex-wrap: wrap;
      justify-content: space-around;
      padding-top: 40px;
    }

    &__title-wrapper {
      flex-wrap: wrap;
    }

    &__image-wrap {
      margin: 0 8px 15px;
    }
  }

  .about {
    &__content-wrapper {
      display: flex;
      flex-direction: column-reverse;
    }

    &__content {
      width: 100%;
    }

    &__text {
      width: 100%;
    }

    &__studio-photo {
      width: 100%;
      height: auto;
      font-size: $fs-medium;

      &-wrap {
        position: relative;
        top: 0;
        margin: 0 auto;
        padding-bottom: 50px;
        width: 100%;
        height: 100%;
      }
    }
  }

  .address {
    flex-direction: column;

    &__map-wrapper {
      width: 100%;
    }

    &__map {
      width: 100%;
    }

    &__info {
      padding: 10px 30px 10px 30px;
    }
  }

  .footer {
    &__item {
      padding-bottom: 7px;
    }

    &__item:not(:last-child)::after {
      content: ' ';
    }

    &__company-contacts {
      flex-direction: column;
    }
  }
}

@media screen and (max-width: $large-bp) {
  body {
    overflow-x: hidden;
  }

  .collective-work {
    display: none;
  }

  .custom-container {
    width: 80%;
    margin: 0 auto;
  }

  .toggle-menu {
    display: block;
  }

  .icon__menu {
    stroke: $primary-c;
  }

  .menu {
    &__list {
      flex-direction: column;
      align-items: center;
      position: absolute;
      left: 0;
      top: 0;
      height: 90vh;
      width: 100%;
      padding-top: 15px;
      transform: translateX(-200%);
      background-color: $secondary-c;
      transition: transform 0.3s ease-in;
    }

    &__toggle{
      z-index: 10;
      transform: translateX(-27%);
    }

    &__items {
      opacity: 0;
    }
  }

  .networks {
    flex-direction: row;
    top: -29px;
    right: 0;

    &__footer {
      top: 13px;
      margin: 0 auto;
    }
  }

  .icon {
    &__facebook {
      margin-right: 30px;
    }

    &__facebook--footer,
    &__instagram--footer {
      width: 24px;
      height: 24px;
    }
  }

  .main-page {
    height: 100vh;

    &__logo {
      width: 100%;
    }

    .main-page__content {
      padding-top: 10%;
    }
  }

  .awards {
    padding: 111px 0 111px;

    &__card {
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 0 10px;
    }
  }

  // .grid {
  //   font-size: 0;
  //   text-align: center;

  //   &__item {
  //     width: 24%;
  //     height: 200px;
  //   }

  //   &__item--width2 {
  //     width: 49%;
  //   }

  //   &__item--height2 {
  //     height: 400px;
  //   }

  //   &__image {
  //     width: 100%;
  //     height: 100%;
  //   }
  // }

  .form-contacts {
    width: 100%;

    &__upload-photos {
      flex-wrap: wrap;
    }

    &__custom-upload-file {
      padding-bottom: 10px;
    }
  }

  .footer {
    &__list {
      flex-direction: column;
      align-items: center;
    }

    &__items {
      padding-bottom: 9px;
    }
  }

}

@media screen and (max-width: $small-bp) {
  .custom-container {
    width: 80%;
    margin: 0 auto;
  }

  .logo {
    position: absolute;
    top: 0;
    width: 50px;
    height: auto;
  }

  .main-page {
    .main-page__content {
      padding-top: 40%;
    }
  }

  .awards {
    padding: 111px 0 130px;

    &__cards-wrapper {
      flex-direction: column;
      align-items: center;
    }

    &__card {
      flex-direction: row;
      text-align: left;
      margin: 15px 0;
      width: 100%;

      &:nth-child(1),
      &:nth-child(3) {
        width: 100%;
      }
    }
  }

  .featured-work {
    &__title-wrapper {
      position: relative;
    }

    &__link-see-more {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  // .grid {
  //   width: 100%;

  //   &__item {
  //     width: 49%;
  //     height: 350px;
  //     left: 50% !important;
  //     margin-right: -50%;
  //     transform: translateX(-50%);
  //     margin-bottom: 10px;
  //   }

  //   &__item--width2 {
  //     width: 49%;
  //   }

  //   &__item--height2 {
  //     height: 350px;
  //   }
  // }

  .footer {
    &__copyright {
      flex-direction: column;

      &-info {
        padding-bottom: 7px;
      }
    }
  }
}

@media screen and (max-width: $extra-small-bp) {
  .custom-container {
    width: 90%;
  }

  .awards {
    padding: 80px 0;

    &__card {
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 20px 0;
    }
  }

  .title {
    font-size: ($fs-extralarge - 10px);

    &__collective-work {
      display: none;
      // font-size: ($fs-extralarge - 20px);
    }
  }

  .grid {
    &__item {
      width: 288px;
      height: auto;
    }

    &__item--width2 {
      width: 288px;
    }
  }
}

@keyframes navLinksFade {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
