@import './_vars.scss';

@mixin placeholder {
  &::-webkit-input-placeholder {
    color: $placeholder-c;
    text-overflow: ellipsis;
  }
  &:-moz-placeholder {
    color: $placeholder-c;
    text-overflow: ellipsis;
  }
  &::-moz-placeholder {
    color: $placeholder-c;
    text-overflow: ellipsis;
  }
  &:-ms-input-placeholder {
    color: $placeholder-c;
    text-overflow: ellipsis;
  }
}
