// Colors inside
$gray: #f6f6f6;
$white: #fff;
$red: #ff0000;
$dark_gray: #1d1c21;
$light_gray: #89898b;
$tuna: #36353d;
$iron: #d8d8d9;
$silver: #cecece;

// Colors outside
$primary-c: $gray;
$secondary-c: $dark_gray;
$attantion-c: $red;
$highlight-c: $light_gray;
$light-c: $white;
$button-c: $iron;
$placeholder-c: $tuna;

// Fonts
$fn-main: "Playfair Display SC";
$fn-sub: "Raleway";

$fs-extralarge: 55px; //61px
$fs-large: 24px;
$fs-medium: 18px;
$fs-small: 16px;
$fs-smaller: 15px;
$fs-extra-small: 13px;

// Transition

$duration: 0.2s;

// Grid breakpoints
$extra-large-bp: 1199.98px;
$large-bp: 991.98px;
$small-bp: 767.98px;
$extra-small-bp: 575.98px;
